.drawer-container {
  height: 100vh;
}

.sidenav {
  padding: 20px;
  background-color: #fff;
  width: 20rem;
}
.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: start;
  background-color: #f5f6f7;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #fff;
  box-shadow: 0px 5px 10px #00000020;
}
