<footer>
  <div class="footer-column-container">
    <div class="footer-column-brand">
      <p>Compañía de Bebidas S.A.</p>
      <p>2023 · Todos los derechos reservados.</p>
      <p>
        Desarrollado por
        <a href="https://www.linkedin.com/in/gonzaloalonsofiks" target="_blank"
          >Gonzalo Alonso Fiks</a
        >
      </p>
    </div>
    <div class="footer-column-menus">
      <div class="footer-column">
        <h4>Sobre nosotros</h4>
        <p>Nuestra historia</p>
        <p>Nuestros principios</p>
        <p>Nuestras marcas</p>
        <p>Identidad corporativa</p>
      </div>
      <div class="footer-column">
        <h4>Políticas</h4>
        <p>Nuestras políticas</p>
        <p>Compliance</p>
        <p>Términos y Condiciones</p>
      </div>
      <div class="footer-column">
        <h4>Conectemos</h4>
        <p>Facebook</p>
        <p>X</p>
        <p>LinkedIn</p>
      </div>
    </div>
  </div>
</footer>
