<footer>
  <div class="footer-column-container">
    <div class="footer-column">
      <p>Compañía de Bebidas S.A.</p>
      <p>Todos los derechos reservados.</p>
    </div>
    <div class="footer-column">
      <h4>Sobre nosotros</h4>
      <p>Nuestra historia</p>
      <p>Nuestros principios</p>
      <p>Nuestras marcas</p>
      <p>Identidad corporativa</p>
    </div>
    <div class="footer-column">
      <h4>Políticas</h4>
      <p>Nuestras políticas</p>
      <p>Compliance</p>
      <p>Términos y Condiciones</p>
    </div>
    <div class="footer-column">
      <h4>Conectemos</h4>
      <p>Facebook</p>
      <p>X</p>
      <p>LinkedIn</p>
    </div>
  </div>
</footer>
