<nav>
  <div class="navbar-menu-container">
    <div class="navbar-left-col">
      <h3>Employee Hub</h3>

      <ul>
        <li class="navbar-item-active">Inicio</li>
        <li>Yo</li>
        <li>Mi equipo</li>
        <li>Conocimiento</li>
        <li>Servicios</li>
      </ul>
    </div>

    <div class="navbar-right-col">
      <div class="user-avatar-container">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxbkhXeTL9D-6bk4JI5f9pNqZ4sB6KgWnlcw&usqp=CAU"
        />
        <p>Joana Brie</p>
      </div>
    </div>
  </div>
</nav>
