.employees-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border: 1px solid #e2e4e8;
  padding: 1rem;
  margin-bottom: 1rem;
}

.employee-name {
  font-weight: 600;
}

.employee-contact {
  display: flex;
  flex-direction: column;
}

.employee-contact a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.employee-role {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.pill {
  border: 1px solid;
  border-radius: 100px;
  padding: 0.1rem 1rem;
  margin: 0.25rem;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: fit-content;
}
