<div class="widget">
  <div *ngFor="let employee of employees" class="employees-container">
    <div class="employee-contact">
      <p class="employee-name">
        {{ employee.first_name }} {{ employee.last_name | uppercase }}
      </p>
      <a href="mailto:{{ employee.email }}">{{ employee.email }}</a>
    </div>
    <div class="employee-role">
      <p class="pill">{{ employee.job_area }}</p>
      <p
        class="pill"
        [style.background-color]="
          employee.contract_type === 'Intern' ? '#2561ED' : '#F2D713'
        "
        [style.color]="employee.contract_type === 'Intern' ? '#fff' : '#000'"
      >
        {{ employee.contract_type }}
      </p>
    </div>
  </div>
</div>
