<main class="widget">
  <div>
    <h2>Novedades</h2>
  </div>
  <div class="main-news-item">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam officiis
    nobis maiores cumque, qui sequi molestias nulla vel nihil itaque aut, illo
    ut sunt quae illum facere, doloremque totam nam iure perspiciatis enim
    tenetur. Sint, eos suscipit. Aliquid consequuntur amet doloribus adipisci at
    omnis eveniet!
  </div>
  <div class="main-news-item">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam officiis
    nobis maiores cumque, qui sequi molestias nulla vel nihil itaque aut, illo
    ut sunt quae illum facere, doloremque totam nam iure perspiciatis enim
    tenetur. Sint, eos suscipit. Aliquid consequuntur amet doloribus adipisci at
    omnis eveniet!
  </div>
  <div class="main-news-item">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam officiis
    nobis maiores cumque, qui sequi molestias nulla vel nihil itaque aut, illo
    ut sunt quae illum facere, doloremque totam nam iure perspiciatis enim
    tenetur. Sint, eos suscipit. Aliquid consequuntur amet doloribus adipisci at
    omnis eveniet!
  </div>
</main>
