aside {
  width: 25rem;
}

aside ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.sidebar-widget {
  background-color: #fff;
  width: 20rem;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #eeeff2;
}
