* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f6f7;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0px;
}

.widget {
  background-color: #fff;
  margin: 2rem 1rem;
  padding: 1rem;
  border: 1px solid #eeeff2;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

a:hover {
  color: #2561ed;
}
